<div>
  <h1>WELCOME TO MOVIE CATCHER</h1>
  <nb-card>
    <nb-card-body>
      <h3>INTRODUCTION</h3>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <p>
        Here You can see List of Movies And Also Bookmark All of your Favourite
        Movies
      </p>
      <P> You can See Your Favourite Movies Under Bookmark Section Page </P>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <p>
        This Is In Development Phase I will Learn And Try to Add More Features
        To This
      </p>
      <p>Come-Back Soon !!</p>
      <P>Thanks For Visiting Us !!</P>
      <p>Have A Great Day</p>
    </nb-card-body>
  </nb-card>
</div>

<nb-card>
  <nb-card-body>
    <button nbButton (click)="toggle()">Toggle First Item</button>
  </nb-card-body>
</nb-card>

<nb-accordion>
  <nb-accordion-item #item>
    <nb-accordion-item-header> Product Details </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other
      ionized gases. Originally, nebula was a name for any diffuse astronomical
      object, including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header> Reviews </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other
      ionized gases. Originally, nebula was a name for any diffuse astronomical
      object, including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header> Edit </nb-accordion-item-header>
    <nb-accordion-item-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other
      ionized gases. Originally, nebula was a name for any diffuse astronomical
      object, including galaxies beyond the Milky Way.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
